@import url: "./style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ***** Container ****** */

.container {
  display: grid;
  /*grid-template:
    /*"header" header heade 50px
    "main main main " 1fr
    "footer footer footer" 50px /
    150px 1fr 150px;
  /*grid-template-columns: 200px,1fr,200px; */
  /*grid-template-columns: repeat(3, 1fr) */
  width: 100vw;
  grid-gap: 5px;
}
/* ***** Header ****** */

header {
  display: grid;
  grid-template:
    "logo nav " 50px/
    1fr 1fr;

  background-image: linear-gradient(to bottom, #011621ba, rgb(60 54 54 / 45%)),
    url(./assets/hero.jpg);

  /* background-image: url("./assets/hero.jpg"),
    linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(34, 153, 195, 1) 100%);
  /* url("./assets/simax_home_cover.svg"), url("./assets/hero.jpg")*/

  height: 400px;
  background-position: 40% 40%;
  background-repeat: /*no-repeat,*/ no repeat;
  background-size: /*cover, */ cover;

  /*background: url("./assets/simax_home_cover.svg") right bottom no-repeat , url("./assets/hero.jpg") left top repeat;
  height: 400px;*/
}

/* *logo* */
.logo {
  margin-top: 20px;
  margin-left: 100px;
  color: white;
  font-size: 30px;
}

.logo-image {
  position: relative;
  bottom: -8px;
}
.nav {
  display: flex;
}

.menu {
  display: flex;
  margin-top: 30px;
  color: white;
}

.menu-item {
  margin: 10px;
  list-style: none;
  text-transform: uppercase;
}
.menu-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.hero-content {
  position: relative;
  top: 20%;
  left: 100%;
  color: white;
}
.hero-content h1 {
  margin: 5px;
  font-size: 55px;
}

/* ***** Filter ****** */

.filter-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-item {
  margin: 10px;
}

/* ***** Card ****** */

main {
  height: 100%;
}
.card-container {
  width: 80%;
  height: 200px;
  border: solid 3px black;
  margin: 10px auto;
  text-align: center;
}

.x ul {
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 250px;
}
.card-background {
  width: 10px;
  height: 10px;
}
.card-image {
  position: relative;
  height: 100%;
}

/* ***** Emphasized ****** */

.emphasized-box {
  background-color: lightblue;
}
